<header>
    <h1 class="item"><a href="{{ "/" | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <!-- <p class="item">{{ site.description | default: site.github.project_tagline }}</p> -->

    <nav class="item">
        <ul>
            {% assign custom_order = "Research,People,Publications,Resources,Contact" | split: ',' %}
            {% for order_item in custom_order %}
                {% for page in site.pages %}
                    {% assign page_extension = page.path | split: '.' | last %}
                    {% if page_extension == 'md' and page.title and page.title != "news" %}
                        {% assign page_title_no_slashes = page.title | replace: '/', '' %}
                        {% if page_title_no_slashes == order_item %}
                            <li><a href="{{ page.url | relative_url }}">{{ page_title_no_slashes }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </nav>
</header>