<header>
    <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

    {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
    {% endif %}

    <p>{{ site.description | default: site.github.project_tagline }}</p>

    <nav>
        <ul>
            {% for page in site.pages %}
                {% assign page_extension = page.path | split: '.' | last %}
                {% if page_extension == 'md'%}
                    {% if page.title %}
                        {% assign page_title_no_slashes = page.title | replace: '/', '' %}
                        <li><a href="{{ page.url | relative_url }}">{{ page_title_no_slashes }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>