header {
    background-color: rgb(68, 202, 171);
    color: black;
    padding: 10px 0;
    text-align: center;
}

header a {
    color: #333;
    text-decoration: none;
}

header a:hover {
    color: black;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    padding-right: 30px;
}

.cube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
    background-color: #f0f0f0;
    perspective: 1000px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    animation: rotate 10s infinite linear;
}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background: rgba(255, 255, 255, 0.9); */
    background-color: white;
    opacity: 0.8;
    border: 1px solid #ccc;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

.face span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    vertical-align: middle;
}
/* 
.face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.front {
    background-image: url('/assets/images/athaliana_adaptation.jpg.webp');
    background-size: cover;
}

/* .back {
    background-image: url('/path/to/back-image.jpg');
    background-size: cover;
}

.left {
    background-image: url('/path/to/left-image.jpg');
    background-size: cover;
} */

.right {
    background-image: url('/assets/images/athaliana_evolution.jpg.webp');
    background-size: cover;
}

.top {
    background-image: url('/assets/images/athaliana_networks.jpeg.webp');
    background-size: cover;
}

.bottom {
    background-image: url('/assets/images/athaliana_genomics.png.webp');
    background-size: cover;
}

.front  { transform: translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.right  { transform: rotateY(90deg) translateZ(100px); }
.top    { transform: rotateX(90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    text-align: justify;
}